<a href="https://colab.research.google.com/github/Vaincookie/FundamentalAnalysis/blob/master/Aiqiyi_Xgboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import xgboost
# First XGBoost model for Pima Indians dataset
from numpy import loadtxt
from xgboost import XGBClassifier 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import json

In [3]:
# train data
data = pd.read_csv("/content/drive/MyDrive/AiQiYi/normal_train_data.txt", sep="\t")
data["launch_seq"] = data.launch_seq.apply(lambda x: json.loads(x))
data["playtime_seq"] = data.playtime_seq.apply(lambda x: json.loads(x))
data["duration_prefer"] = data.duration_prefer.apply(lambda x: json.loads(x))
data["interact_prefer"] = data.interact_prefer.apply(lambda x: json.loads(x))

test_data = pd.read_csv("/content/drive/MyDrive/AiQiYi/normal_test_data.txt", sep="\t")
test_data["launch_seq"] = test_data.launch_seq.apply(lambda x: json.loads(x))
test_data["playtime_seq"] = test_data.playtime_seq.apply(lambda x: json.loads(x))
test_data["duration_prefer"] = test_data.duration_prefer.apply(lambda x: json.loads(x))
test_data["interact_prefer"] = test_data.interact_prefer.apply(lambda x: json.loads(x))
test_data['label'] = 0

data = data.sample(frac=1).reset_index(drop=True)

In [4]:
data.head()

    user_id  end_date  ...  territory_score                    interact_prefer
0  10160149       179  ...        -0.552490  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1  10523989       165  ...         0.846519  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2  10521189       123  ...         1.108574  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3  10525524       122  ...        -0.979679  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4  10204264       172  ...        -2.760086  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[5 rows x 18 columns]

In [5]:
data = data[['label','user_id', 'end_date', 'launch_seq', 'playtime_seq',
       'duration_prefer', 'father_id_score', 'cast_id_score', 'tag_score',
       'device_type', 'device_ram', 'device_rom', 'sex', 'age', 'education',
       'occupation_status', 'territory_score', 'interact_prefer']] 

test_data = test_data[['label','user_id', 'end_date', 'launch_seq', 'playtime_seq',
       'duration_prefer', 'father_id_score', 'cast_id_score', 'tag_score',
       'device_type', 'device_ram', 'device_rom', 'sex', 'age', 'education',
       'occupation_status', 'territory_score', 'interact_prefer']]

In [6]:
df1=data['launch_seq'].apply(pd.Series,index=['ls1','ls2','ls3','ls4','ls5','ls6','ls7','ls8','ls9','ls10','ls11','ls12','ls13','ls14','ls15','ls16','ls17','ls18','ls19','ls20','ls21','ls22','ls23','ls24','ls25','ls26','ls27','ls28','ls29','ls30','ls31','ls32'])
df2=data['playtime_seq'].apply(pd.Series,index=['ps1','ps2','ps3','ps4','ps5','ps6','ps7','ps8','ps9','ps10','ps11','ps12','ps13','ps14','ps15','ps16','ps17','ps18','ps19','ps20','ps21','ps22','ps23','ps24','ps25','ps26','ps27','ps28','ps29','ps30','ps31','ps32'
])
df3=data['duration_prefer'].apply(pd.Series,index=['dp1','dp2','dp3','dp4','dp5','dp6','dp7','dp8','dp9','dp10','dp11','dp12','dp13','dp14','dp15','dp16'])
df4=data['interact_prefer'].apply(pd.Series,index=['ip1','ip2','ip3','ip4','ip5','ip6','ip7','ip8','ip9','ip10','ip11'])
data = pd.concat([data,df1],axis=1,join='outer')
data = pd.concat([data,df2],axis=1,join='outer')
data = pd.concat([data,df3],axis=1,join='outer')
data = pd.concat([data,df4],axis=1,join='outer')
data = data.drop(labels=['launch_seq', 'playtime_seq', 'duration_prefer', 'interact_prefer'], axis=1)

Index(['label', 'user_id', 'end_date', 'launch_seq', 'playtime_seq',
       'duration_prefer', 'father_id_score', 'cast_id_score', 'tag_score',
       'device_type', 'device_ram', 'device_rom', 'sex', 'age', 'education',
       'occupation_status', 'territory_score', 'interact_prefer'],
      dtype='object')
Index(['label', 'user_id', 'end_date', 'launch_seq', 'playtime_seq',
       'duration_prefer', 'father_id_score', 'cast_id_score', 'tag_score',
       'device_type', 'device_ram', 'device_rom', 'sex', 'age', 'education',
       'occupation_status', 'territory_score', 'interact_prefer'],
      dtype='object')

In [18]:
data.to_csv('/content/drive/MyDrive/AiQiYi/onehot_train.csv')

In [19]:
print(len(data.columns))
X_train = data.iloc[:,1:110]
y_train = data.iloc[:,0]

105

In [20]:

# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
# make predictions for test data

XGBClassifier(objective='multi:softprob')

In [22]:
df1=test_data['launch_seq'].apply(pd.Series,index=['ls1','ls2','ls3','ls4','ls5','ls6','ls7','ls8','ls9','ls10','ls11','ls12','ls13','ls14','ls15','ls16','ls17','ls18','ls19','ls20','ls21','ls22','ls23','ls24','ls25','ls26','ls27','ls28','ls29','ls30','ls31','ls32'])
print(data.columns)
df2=test_data['playtime_seq'].apply(pd.Series,index=['ps1','ps2','ps3','ps4','ps5','ps6','ps7','ps8','ps9','ps10','ps11','ps12','ps13','ps14','ps15','ps16','ps17','ps18','ps19','ps20','ps21','ps22','ps23','ps24','ps25','ps26','ps27','ps28','ps29','ps30','ps31','ps32'
])
df3=test_data['duration_prefer'].apply(pd.Series,index=['dp1','dp2','dp3','dp4','dp5','dp6','dp7','dp8','dp9','dp10','dp11','dp12','dp13','dp14','dp15','dp16'])
df4=test_data['interact_prefer'].apply(pd.Series,index=['ip1','ip2','ip3','ip4','ip5','ip6','ip7','ip8','ip9','ip10','ip11'])
print(data.columns)
test_data = pd.concat([test_data,df1],axis=1,join='outer')
test_data = pd.concat([test_data,df2],axis=1,join='outer')
test_data = pd.concat([test_data,df3],axis=1,join='outer')
test_data = pd.concat([test_data,df4],axis=1,join='outer')
test_data = test_data.drop(labels=['launch_seq', 'playtime_seq', 'duration_prefer', 'interact_prefer'], axis=1)
test_data.to_csv('/content/drive/MyDrive/AiQiYi/onehot_test.csv')

Index(['label', 'user_id', 'end_date', 'father_id_score', 'cast_id_score',
       'tag_score', 'device_type', 'device_ram', 'device_rom', 'sex',
       ...
       'ip2', 'ip3', 'ip4', 'ip5', 'ip6', 'ip7', 'ip8', 'ip9', 'ip10', 'ip11'],
      dtype='object', length=105)
Index(['label', 'user_id', 'end_date', 'father_id_score', 'cast_id_score',
       'tag_score', 'device_type', 'device_ram', 'device_rom', 'sex',
       ...
       'ip2', 'ip3', 'ip4', 'ip5', 'ip6', 'ip7', 'ip8', 'ip9', 'ip10', 'ip11'],
      dtype='object', length=105)

In [23]:
X_test = test_data.iloc[:,1:110]

In [24]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
# accuracy = accuracy_score(y_test, predictions)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [25]:
output = model.predict(X_test)

In [26]:
print(output)
prediction = output
test_data["prediction"] = prediction
test_data = test_data[["user_id", "prediction"]]

[0 0 0 ... 0 0 0]

In [27]:
test_data.to_csv("baseline_submission.csv", index=False, header=False, float_format="%.2f")